<div class="header-content">
    <app-movie-search></app-movie-search>
    <div class="header-dropdown-container">
        <div class="header-dropdown">
            <div class="header-dropdown-label">Dropdown</div>
            <div class="header-dropdown-menu">
                <div>
                    <a class="header-dropdown-menu-link">Option 1</a>
                </div>
                <div>
                    <a class="header-dropdown-menu-link">Option 1</a>
                </div>
                <div>
                    <a class="header-dropdown-menu-link">Option 1</a>
                </div>
            </div>
        </div>
        <div class="header-dropdown">
            <div class="header-dropdown-label">Dropdown</div>
            <div class="header-dropdown-menu">
                <div>
                    <a class="header-dropdown-menu-link">Option 1</a>
                </div>
                <div>
                    <a class="header-dropdown-menu-link">Option 1</a>
                </div>
                <div>
                    <a class="header-dropdown-menu-link">Option 1</a>
                </div>
            </div>
        </div>
    </div>
</div>