:root {}

.header-content {
    padding: 0.5rem;

    border: 1px solid black;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

    border-radius: 1rem;
    background: black;
    color: white;
}

nav {
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid black;

    padding: 0;
    z-index: 5;
}

.header-dropdown-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    position: relative;
    margin-left: 1rem;
}

.header-dropdown {
    position: relative;
}

.header-dropdown-label {
    width: fit-content;
}

.header-dropdown-label,
.header-dropdown-menu {
    min-width: 120px;
}

.header-dropdown-menu {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    gap: 0.5rem;

    padding: 0.5rem;
    background: rgb(80, 80, 80);
    position: absolute;
    opacity: 0;

    transition: opacity 0.2s ease;
    visibility: hidden;
}

.header-dropdown-label:hover+.header-dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.header-dropdown-menu:hover {
    opacity: 1;
    visibility: visible;
}

app-movie-search {
    height: fit-content;
    max-height: 35.5px;
}

.link--leda {
    overflow: hidden;
}

.link--leda::before {
    height: 2px;
    top: calc(100% - 5px);
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
}

.link--leda:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.link--leda::after {
    content: attr(data-text);
    height: 100%;
    top: 0;
    background: none;
    transform-origin: 100% 50%;
    transform: translate3d(150%, 0, 0);
    transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
}

.link--leda:hover::after {
    transform: translate3d(0, 0, 0);
}

.link--leda span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
}

.link--leda:hover span {
    transform: translate3d(-150%, 0, 0);
}

