<header>
    <div class="header-content">
        <app-movie-search></app-movie-search>
        <div class="header-dropdown-container">
            <div class="header-dropdown">
                <div class="header-dropdown-label">Watchlist</div>
                <div class="header-dropdown-menu">
                    <div>
                        <a id="style-2" class="header-dropdown-menu-link" data-replace="Option 1"><span>Option 1</span>
                        </a>
                    </div>
                    <div>
                        <a id="style-2" class="header-dropdown-menu-link" data-replace="Option 1"><span>Option
                                1</span></a>
                    </div>
                    <div>
                        <a id="style-2" class="header-dropdown-menu-link" data-replace="Option 1"><span>Option
                                1</span></a>
                    </div>
                </div>
            </div>
            <div class="header-dropdown">
                <div class="header-dropdown-label">Dropdown</div>
                <div class="header-dropdown-menu">
                    <div>
                        <a id="style-2" class="header-dropdown-menu-link" data-replace="Option 1"><span>Option 1</span>
                        </a>
                    </div>
                    <div>
                        <a id="style-2" class="header-dropdown-menu-link" data-replace="Option 1"><span>Option
                                1</span></a>
                    </div>
                    <div>
                        <a id="style-2" class="header-dropdown-menu-link" data-replace="Option 1"><span>Option
                                1</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>