/* Style the carousel images */
.carousel-item img {
    max-width: 812px;
    max-height: 545.11px;
    object-fit: cover;

}

/* Customize the carousel controls */
.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 15px;
}

/* Customize the active indicator */
.carousel-indicators .active {
    background-color: #007bff;
}

.carousel {
    height: 100%;
    width: 100%;

    grid-row: 1/4;
    grid-column: 1/4;
}

.carousel-control {
    position: absolute;
    height: 50px;
    width: 50px;

    top: 50%;
    transform: translateY(-50%);
    margin: 0 1rem;
}

.landing-container {
    width: 100%;
    height: 100%;
    max-height: calc(545.11px + 2rem);

    background-color: white;
    border-radius: 20px;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.content-side {
    height: 100%;
    width: 100%;

    border-radius: 20px;

    grid-row: 1/4;
    grid-column: 4/4;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1rem;
    grid-auto-flow: row;
}

.carousel-item-content {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}

.carousel-item {
    position: relative;
}

.carousel-item h2 {
    font-weight: 700;
}

.carousel-item h3 {
    font-weight: 300;
}

.carousel-item h2,
.carousel-item h3 {
    color: white;
    transition: transform 0.3s ease;
}

.carousel:hover .carousel-item-content h2,
.carousel:hover .carousel-item-content h3 {
    transform: translateY(-10%);
}

.carousel-inner {
    border-radius: 20px;
    max-height: 100%;
    overflow: hidden;
}

.carousel:hover .carousel-inner::after {
    content: "";
    position: absolute;
    background: black;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
}

.carousel-inner::after {
    transition: opacity 0.3s ease;
    opacity: 0;
}