<div class="carousel-container">
    <img class="landing"
        src="https://images.pexels.com/photos/274937/pexels-photo-274937.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
    <div class="c-button left">
        <a class="slider-link left">
            <img class="slider-icon" src="../../assets/next.png">
        </a>
    </div>
    <div class="c-button right">
        <a class="slider-link right">
            <img class="slider-icon" src="../../assets/next.png">
        </a>
    </div>

</div>