<!-- <div class="carousel-container">
    <img class="landing"
        src="https://images.pexels.com/photos/274937/pexels-photo-274937.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
    <div class="c-button left">
        <a class="slider-link left">
            <img class="slider-icon" src="../../assets/next.png">
        </a>
    </div>
    <div class="c-button right">
        <a class="slider-link right">
            <img class="slider-icon" src="../../assets/next.png">
        </a>
    </div>

</div> -->

<div class="container mt-5">
    <ngb-carousel *ngIf="images.length">
        <ng-template ngbSlide *ngFor="let image of images">
            <div class="carousel" [style.backgroundImage]="'url(' + image +')'" alt="Carousel Image"></div>
        </ng-template>
    </ngb-carousel>
</div>




<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>