.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    width: 100vw;
    height: var(--nav-height);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid black;

    padding: 0;
    z-index: 5;
}