:root {
  --margin-header: 10%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10%)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

.content {
  animation: fadeIn 0.3s ease;
}

h1 {
  margin-bottom: 0;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}

nav a.active {
  background-color: black;
}

.landing {
  margin-top: 3rem;
}

