app-movies {
  margin-bottom: 5rem;

}

.movie-list-container {
  width: 100%;
  height: 320px;

  padding: 1rem 0 0.5rem 0rem;

  overflow: auto;

  margin-bottom: 4rem;
}

.movie-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.movie-list-container-super {
  position: relative;
}

.movie-list-container-super::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 300px;
  display: flex;
  width: 100px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white);

}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  min-height: 250px;
}

.movie:first-of-type {
  margin-left: 0;
}

movie-list-item {
  position: relative;
}

.movie-title {
  margin-bottom: 0.5rem;
}