.movie-list-container {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  overflow: auto;
}

.movie-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 0 1rem;

  min-height: 250px;
}

.movie:first-of-type {
  margin-left: 0;
}

movie-list-item {
  position: relative;
}