.grid-content {
    width: 100%;
    height: 100%;
    background-color: green;
    border-radius: var(--border-radius-big);
    position: relative;
    overflow: hidden;
}

.grid-content:hover h4 {
    transform: translateY(-10%);
}

.grid-content:hover::after {
    content: "";
    position: absolute;
    background: black;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
}

.grid-content::after {
    transition: opacity 0.3s ease;
    opacity: 0;
}

.grid-content::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

.grid-content-inner {
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    position: absolute;
    z-index: 2;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid-content img {
    height: 110%;
    width: 110%;
    position: absolute;
}

.grid-content h4 {
    color: white;
    transition: transform 0.3s ease;
    position: absolute;
    z-index: 2;
    color: white;
    margin: 1rem;
    bottom: 0;
}