/* You can add global styles to this file, and also import other style files */
$padding-body: 100px;

:root {
    --padding-body: 100px;
    --nav-height: 75px;
}

html {
    box-sizing: border-box;
}

body {
    width: calc(100vw - var(--padding-body)*2);
    margin: 0;
    padding: 0px var(--padding-body);
}

section:first-of-type {
    margin-top: var(--nav-height);
}